body {

    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height:100vh;
    margin: auto;
    background: rgb(9,0,158);
    background: linear-gradient(156deg, rgba(9,0,158,1) 0%, rgba(164,0,255,1) 100%);
    display: flex;
    justify-content: center;

    }

    h1 {

    background-image: linear-gradient(160deg, #9511e2, #0059ff);
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-style: italic;

    }

    h2 {

    color: #0059ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    font-family: 'Figtree', sans-serif;
    font-weight: 800;

    }

    a {

    text-decoration: none;
    color: #6C4AB6;
    text-shadow: 2px 2px 5px rgba(215, 187, 255, 0.993);

    }

    .float {

    float: left;
    font-family: 'Figtree', sans-serif;
    font-weight: 800;

    }

    li a {

    display: block;
    padding: 8px;
    background-color: #eeeeee3d;
    text-decoration: none;

    }
    
    li :hover {

    background-color: #8e72e15e;

    }

    img {

        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;    
        border-image-source: linear-gradient(to left, #3ad5d5, #d53a9d);

    }

    .navbar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    }
    
    .current{

    text-decoration: none;
    background-color: lightblue;

    }

    .mainsite {

        background-color: #ffffff;
        width: 70%;
        min-height:100vh;
        border-radius: 2rem;
        filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, 0.3)) drop-shadow( 0px 0px 15px #000000);
        
    }

    .content {

        padding: 2rem;

    }

    .text {

        margin-top: 1rem; 

    }

    table {

    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;

    }

    thead {

        border-collapse: collapse;
        border: 3px solid rgb(0, 0, 0);

    }

    .images {

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 1rem;

    }

    .pad {

        margin-top: 0.7rem; 

    }

    .list {

        display: block;

    }

    .left {

    float: none;

    }

    .flex {

    display:flex;
    justify-content: space-between;
    margin-top: 0.7rem; 


    }
